.message {
  display: flex;
  /* flex-direction: column; */
  margin: 0.5rem 0rem;
}

.messageContentMe {
  align-self: flex-end;
  background-color: rgb(200, 240, 200);
  border-radius: 1rem 1rem 0rem 1rem;
  font-size: 1.6rem;
  overflow-wrap: break-word;
  padding: 1rem;
  max-width: 50%;
  width: fit-content;
}

.messageContentOther {
  align-self: flex-start;
  background-color: rgb(233, 233, 233);
  border-radius: 0rem 1rem 1rem 1rem;
  font-size: 1.6rem;
  overflow-wrap: break-word;
  padding: 1rem;
  max-width: 50%;
  width: fit-content;
}

/* .messageMetadataMe {
  align-self: flex-end;
  background-color: white;
  font-size: 1.2rem;
  margin-top: 0rem;
  padding: 0.3rem 0rem;
} */

/* .messageMetadataOther {
  align-self: flex-start;
  background-color: white;
  font-size: 1.2rem;
  margin-top: 0rem;
  padding: 0.3rem 0rem;
} */